@font-face{
	font-family: 'WisdomScript';
	src:url('fonts/Wisdom Script.otf');
}
@font-face {
	font-family: 'ProximaNovaRegular';
	src: url('fonts/ProximaNovaRegular.eot');
	src: local('ProximaNovaRegular'), url('fonts/ProximaNovaRegular.woff') format('woff'), url('fonts/ProximaNovaRegular.ttf') format('truetype');
}